.userTable th {
    color: crimson;
}

.actionIcons {
    margin: 5px;
    cursor: pointer;
}

#noRecordTR {
    text-align: center;
}

li .current {
    background: crimson !important;
}

tr .form-check-input:checked {
    background-color: crimson;
    border: crimson;
}

.darkCheckBox {
    background: transparent;
    border: 1px solid crimson;
}